@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {

    display: flex;
    flex-direction: column;

    flex-flow: column wrap;
    gap: 16px;

    align-items: center;

    background-color: rgb(202, 202, 202);
    font-family: roboto;

    .menu_bar {

        /* Layout da barra de menu */
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        min-width: 1440px;
        min-height: 56px;
        background-color: gray;
        gap: 10px;

        .menu_item {

            margin: 10px;
    
            background-color: white;



        }

        .item_left {

            display: flex;
            justify-content:space-between;
            align-items:center;
            width: 146px;
            height: 24px;

            img {
                padding: 5px;
            }
            

        }

        .item_center {

            display: inline-flex;
            justify-content: space-between;
            border: 1px;
            
            background-color: white;

            width: 404px;
            height: 40px;

            input {
              
                height: inherit;
                width: 348px;

                border: solid 0px;
              

            }


            .div_img {

                display: flex;
                justify-content: center;
                align-items: center;
                height: inherit;
                width: 57px;
                border: solid 1px;
                border-color: gray;
        
                background-color: rgb(196, 196, 196);
           
                
                img {

                    width: 24px;
                    height: 24px;
                    align-self: center;

                }
            

            }
        }

        .item_right {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            width: 130px;
            height: 34px;

            img {

                padding: 5px;
                width: 24px;
                height: 24px;

            }

        }

    }


    

    .multimedia {


        /* Layout central de multimedia */
      
        flex-flow: row wrap;

        min-width: 560px;
        min-height: 315px;

        width: 1440px;
        height: 728px;

        background-color: rgb(162, 192, 169);

        .caption {

            font-family: Roboto;
            font-weight: 600;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0%;
            width: 871px;
            height: 23px;
            padding: 5px;
            
        }

        .caption_bar {

            /* Video Actions */
            /* Auto layout */
            display: inline-flex;
   
            justify-content:space-around;
            align-items: center;
            padding: 5px;
            gap: 42px;

            width: 902px;
            height: 42px;


            /* Inside auto layout */
  


            .caption_itens {


                display: inline-flex;
                gap:3px;
            }
            
        }
   
    }

    .footer_bar {

        /* Layout roda-pé */

        height: 200px;
        width: 1440px;
    
        background-color: gray;
    }

}